:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.navbar {
  display: flex;
  align-items: center;
  padding: 20px 50px;
  background-color: #333;
}

.logo {
  margin-right: auto;
  color: #fff;
  text-decoration: none;
  font-size: 24px;
  font-weight: bold;
}

.navbar-items {
  display: flex;
}

.navbar-item {
  margin-left: 20px;
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}

.navbar-item:hover {
  color: #ddd;
}


/** CARDS */

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 20px auto;
  width: 80%;
  align-items: center;
}

.card {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 10px;
  padding: 20px;
  width: 250px;
  transition: transform 0.2s;
}

.card:hover {
  transform: scale(1.05);
}

.card-title {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.card-description {
  font-size: 1em;
  color: #666;
}

/**LOGIN PAGE */

.login-container, .signup-container {
  width: 100%;
  max-width: 600px;
  margin: 75px auto;
  padding: 80px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: rgb(52, 52, 52);
}

.login-title, .signup-title {
  font-family:'Inter',system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 1.8em;
  margin-bottom: 20px;
  color: whitesmoke;
}

.form-group {
  margin-bottom: 15px;
}

.form-label {
  display: block;
  font-size: 1em;
  margin-bottom: 5px;
  color: whitesmoke;
}

.form-input {
  width: 100%;
  padding: 10px;
  font-size: 1rem;
  border-radius: 10px;
  background-color: rgb(38 38 38);
}

.login-button, .signup-button {
  font-weight: bold;
  background-color:  rgb(37 99 235);
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: .35rem .5rem;
}

.login-message {
  margin-top: 15px;
  font-size: 0.9em;
  color: #d9534f;
  text-align: center;
}

img {
  border-radius: 8px;
  width: 100%;
  height: auto;
}

.item-list {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: center;
  padding: 20px;
  background-color: #f8f8f8;
}

.item {
  background: #fff;
  border: 1px solid #e1e1e1;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.2s;
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 16px;
}

.item:hover {
  transform: scale(1.05);
}

.item img {
  width: 100%;
  height: auto;
  border-bottom: 1px solid #e1e1e1;
}

.item h2 {
  font-size: 1.2em;
  margin: 16px 0 8px;
  color: #333;
  font-weight: bold;
}

.item p {
  font-size: 1em;
  color: #666;
  margin: 8px 0;
}

.delete-button {
  margin-top: 10px;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  background-color: #ff4d4d;
  color: white;
  cursor: pointer;
  transition: background-color 0.2s;
}

.delete-button:hover {
  background-color: #ff1a1a;
}
